<div class="nav-scroller py-1 mb-3 border-bottom" id="firstchildren"> </div>
<div class="container p-0">
    <div class="container-parent p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0 background rounded" id="bgimage"></div>
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic t-shadow" id="maintitle"></h1>
            <p class="lead my-3 t-shadow" id="maincontent"></p>
            <p class="lead mb-0">
                <a class="hand text-body-emphasis fw-bold" id="mainmore">더보기...</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-2">
            <!-- <div class="card">
                <div class=" card-title">
                    <img src="static/img/ganada.png" class="card-img-top background">
                </div>
                <div class="card-body">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">SNS</strong>
                    <h3 class="mb-0">Hons.Multiverse</h3>
                    <div class="mb-1 text-body-secondary">2024</div>
                    <p class="card-text mb-auto">
                        SNS와 게임이 결합된 메타버스 게임입니다.
                    </p>
                    <a href="#" class="btn btn-primary">Let's Play</a>
                </div>
            </div> -->
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <strong class="d-inline-block mb-2 text-primary-emphasis">SNS</strong>
                    <h3 class="mb-0">Hons.Multiverse</h3>
                    <div class="mb-1 text-body-secondary">2024</div>
                    <p class="card-text mb-auto">
                        SNS와 게임이 결합된 메타버스 게임입니다.
                    </p>
                    <a href="http://hons.ghostwebservice.com" target="_blank"
                        class="icon-link gap-1 icon-link-hover stretched-link">more..</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">Game</strong>
                    <h3 class="mb-0">GANADA
                        <img src="static/img/icon_all.gif" class="rounded m-2" style="width:20px"> <br>
                    </h3>
                    <div class="mb-1 text-body-secondary">2023</div>
                    <p class="card-text mb-auto">
                        캐릭터를 이동하면서 주어진 글자를 완성합니다.
                        한글을 배우는 어린이를 위해 만들었습니다.
                    </p>
                    <a href="/ganada" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">more..</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="static/img/ganada.png" style="width: 200px;height:250px">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mb-4">
            <div class="container p-0">
                <div class="row">
                    <div class="col">
                        <h2 class="display-5 link-body-emphasis mb-1" id="title"></h2>
                        <p class="blog-post-meta" id="postdate"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="editorjs"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4" id="sidemenu">
            <div class="position-sticky" style="top: 2em">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4>About</h4>
                    <p class="mb-0">웹브라우저에서 동작하는 쉽고 재미있는 게임을
                        만들기 위해 공부하고 자료를 공유하는 블로그입니다.
                    </p>
                </div>
                <div>
                    <h4 class="fst-italic">Recent posts</h4>
                    <ul class="list-unstyled" id="recentposts">
                    </ul>
                </div>
                <h4 class="fst-italic">Category</h4>
                <div id="category" class="mb-4">

                </div>
            </div>
        </div>
    </div>
</div>